/* FUENTE GENERAL */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); 
/* FUENTE DEL HERO */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Serif:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-white);
    font-family: "DM Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
  --background: #fffffe;
  --title: #232f43;
  --text: #096567; 
  /* --tertiary: #bacbe8; */
  /* --button: #ff7403; */
  --button: #fca33d;
  --text-white: #FBFBFF;
  --text-black: #040F16;
  --tertiary: #ef4565;
}




body{
  background: #FFD194;
  background: linear-gradient(to bottom, #fdff9f 0%, rgba(112, 190, 245, 1) 20%);
}

/* Overlay body */
body::before{
  content: "";
  position: fixed;
  display: none;
  background-color: rgb(35, 35, 35, 0.3);
  backdrop-filter: blur(0);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

body.overlay::before{
  display: block;
  background-color: rgb(35, 35, 35, 0.3);
  backdrop-filter: blur(4px);
}

hr{
  border: 1px solid var(--button);
}

img {
  max-width: 100%;
  height: auto;
}
li{
  display: inline;
}
textarea {
  resize: none;
}
iframe {
 max-width: 100%;
 height: auto;
}
label, select, option{
  color: var(--title);
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: var(--text-white);
}
.section-title{
  margin-top: 1.5%;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--title);
  text-align: center;
}
.section-text{
  color: var(--text-white);
  font-weight: 600;
  text-align: center;
  align-self: center;
  max-width: 80%;
}

.hidden{
  display: none;
}
.active{
  display: block;
}